<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head('Products')}"></head>
<body class="animsition">

	<!-- Header -->
	<div th:replace="~{fragments/header :: header('shop')}"></div>

	<!-- Cart -->
	<div th:replace="~{fragments/header :: cart}"></div>


	<!-- Product -->
	<div class="bg0 m-t-120 p-b-140">
		<div class="container">
			<div class="flex-w flex-sb-m p-b-52">
				<div class="flex-w flex-l-m filter-tope-group m-tb-10">
					<a th:href="@{/product}"
					   class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5"
					   th:classappend="${category == null} ? 'how-active1' : ''">
						All Products
					</a>

					<a th:href="@{/product(category='women')}"
					   class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5"
					   th:classappend="${category == 'women'} ? 'how-active1' : ''">
						Women
					</a>

					<a th:href="@{/product(category='men')}"
					   class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5"
					   th:classappend="${category == 'men'} ? 'how-active1' : ''">
						Men
					</a>

					<a th:href="@{/product(category='bag')}"
					   class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5"
					   th:classappend="${category == 'bag'} ? 'how-active1' : ''">
						Bag
					</a>

					<a th:href="@{/product(category='shoes')}"
					   class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5"
					   th:classappend="${category == 'shoes'} ? 'how-active1' : ''">
						Shoes
					</a>

					<a th:href="@{/product(category='watches')}"
					   class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5"
					   th:classappend="${category == 'watches'} ? 'how-active1' : ''">
						Watches
					</a>
				</div>

				<div class="flex-w flex-c-m m-tb-10">
					<div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
						<i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
						<i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						 Filter
					</div>

					<div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
						<i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
						<i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						Search
					</div>
				</div>

				<!-- Search product -->
				<div class="dis-none panel-search w-full p-t-10 p-b-15">
					<form th:action="@{/product}" method="get" class="bor8 dis-flex p-l-15">
						<button type="submit" class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
							<i class="zmdi zmdi-search"></i>
						</button>

						<input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text"
						       name="search" th:value="${search}" placeholder="Search">
					</form>
				</div>

				<!-- Filter -->
				<div class="dis-none panel-filter w-full p-t-10">
					<div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
						<div class="filter-col1 p-r-15 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								Sort By
							</div>

							<ul>
								<li class="p-b-6">
									<a th:href="@{/product(category=${category}, sort='default')}"
									   class="filter-link stext-106 trans-04"
									   th:classappend="${sort == 'default' or sort == null} ? 'filter-link-active' : ''">
										Default
									</a>
								</li>

								<li class="p-b-6">
									<a th:href="@{/product(category=${category}, sort='newest')}"
									   class="filter-link stext-106 trans-04"
									   th:classappend="${sort == 'newest'} ? 'filter-link-active' : ''">
										Newness
									</a>
								</li>

								<li class="p-b-6">
									<a th:href="@{/product(category=${category}, sort='price-asc')}"
									   class="filter-link stext-106 trans-04"
									   th:classappend="${sort == 'price-asc'} ? 'filter-link-active' : ''">
										Price: Low to High
									</a>
								</li>

								<li class="p-b-6">
									<a th:href="@{/product(category=${category}, sort='price-desc')}"
									   class="filter-link stext-106 trans-04"
									   th:classappend="${sort == 'price-desc'} ? 'filter-link-active' : ''">
										Price: High to Low
									</a>
								</li>
							</ul>
						</div>

						<div class="filter-col2 p-r-15 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								Price
							</div>

							<ul>
								<li class="p-b-6">
									<a th:href="@{/product(category=${category}, priceRange='all')}"
									   class="filter-link stext-106 trans-04"
									   th:classappend="${priceRange == 'all' or priceRange == null} ? 'filter-link-active' : ''">
										All
									</a>
								</li>

								<li class="p-b-6">
									<a th:href="@{/product(category=${category}, priceRange='0-50')}"
									   class="filter-link stext-106 trans-04"
									   th:classappend="${priceRange == '0-50'} ? 'filter-link-active' : ''">
										$0.00 - $50.00
									</a>
								</li>

								<li class="p-b-6">
									<a th:href="@{/product(category=${category}, priceRange='50-100')}"
									   class="filter-link stext-106 trans-04"
									   th:classappend="${priceRange == '50-100'} ? 'filter-link-active' : ''">
										$50.00 - $100.00
									</a>
								</li>

								<li class="p-b-6">
									<a th:href="@{/product(category=${category}, priceRange='100-150')}"
									   class="filter-link stext-106 trans-04"
									   th:classappend="${priceRange == '100-150'} ? 'filter-link-active' : ''">
										$100.00 - $150.00
									</a>
								</li>

								<li class="p-b-6">
									<a th:href="@{/product(category=${category}, priceRange='150-200')}"
									   class="filter-link stext-106 trans-04"
									   th:classappend="${priceRange == '150-200'} ? 'filter-link-active' : ''">
										$150.00 - $200.00
									</a>
								</li>

								<li class="p-b-6">
									<a th:href="@{/product(category=${category}, priceRange='200+')}"
									   class="filter-link stext-106 trans-04"
									   th:classappend="${priceRange == '200+'} ? 'filter-link-active' : ''">
										$200.00+
									</a>
								</li>
							</ul>
						</div>

						<div class="filter-col3 p-r-15 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								Tags
							</div>

							<div class="flex-w p-t-4 m-r--5">
								<a th:href="@{/product(tag='fashion')}"
								   class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
									Fashion
								</a>

								<a th:href="@{/product(tag='lifestyle')}"
								   class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
									Lifestyle
								</a>

								<a th:href="@{/product(tag='denim')}"
								   class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
									Denim
								</a>

								<a th:href="@{/product(tag='streetstyle')}"
								   class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
									Streetstyle
								</a>

								<a th:href="@{/product(tag='crafts')}"
								   class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
									Crafts
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Products Grid -->
			<div class="row isotope-grid" th:if="${products != null and !products.isEmpty()}">
				<div th:each="product : ${products}"
				     class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item"
				     th:classappend="${product.category != null ? product.category.name.toLowerCase() : ''}">
					<!-- Block2 -->
					<div class="block2">
						<div class="block2-pic hov-img0">
							<img th:src="@{${product.imageUrl != null && !product.imageUrl.isEmpty() ? product.imageUrl : '/images/product-placeholder.jpg'}}"
							     alt="IMG-PRODUCT"
							     onerror="this.onerror=null; this.src='/images/product-placeholder.jpg'">

							<!-- Discount badge -->
							<span th:if="${product.hasDiscount()}"
							      class="stext-105 cl0 bg8 bor2 pos-relative p-lr-15 m-tb-10"
							      style="position: absolute; top: 10px; left: 10px; font-size: 12px; padding: 5px 10px; border-radius: 3px;">
								-<span th:text="${product.discountPercentage}">20</span>%
							</span>

							<button th:data-product-id="${product.id}"
							   class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
								Quick View
							</button>
						</div>

						<div class="block2-txt flex-w flex-t p-t-14">
							<div class="block2-txt-child1 flex-col-l ">
								<a th:href="@{/product/{id}(id=${product.id})}"
								   class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6"
								   th:text="${product.name}">
									Product Name
								</a>

								<span class="stext-105 cl3" th:if="${product.hasDiscount()}">
									<span style="text-decoration: line-through; color: #999; margin-right: 8px;"
									      th:text="'$' + ${product.price}">
										$50.00
									</span>
									<span style="color: #e65540; font-weight: 600;"
									      th:text="'$' + ${product.effectivePrice}">
										$40.00
									</span>
								</span>

								<span class="stext-105 cl3" th:unless="${product.hasDiscount()}"
								      th:text="'$' + ${product.effectivePrice}">
									$50.00
								</span>
							</div>

							<div class="block2-txt-child2 flex-r p-t-3">
								<a th:href="@{/wishlist/add/{id}(id=${product.id})}"
								   class="btn-addwish-b2 dis-block pos-relative js-addwish-b2"
								   title="Add to Wishlist">
									<img class="icon-heart1 dis-block trans-04"
									     src="images/icons/icon-heart-01.png" alt="ICON">
									<img class="icon-heart2 dis-block trans-04 ab-t-l"
									     src="images/icons/icon-heart-02.png" alt="ICON">
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Empty State -->
			<div th:if="${products == null or products.isEmpty()}"
			     class="p-t-40 p-b-40 text-center">
				<h4 class="mtext-105 cl2 p-b-20">No products found</h4>
				<p class="stext-107 cl6 p-b-20">Try adjusting your filters or search criteria.</p>
				<a th:href="@{/product}"
				   class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
					View All Products
				</a>
			</div>

			<!-- Pagination -->
			<div th:if="${totalPages > 1}" class="flex-c-m flex-w w-full p-t-45">
				<div class="flex-w">
					<!-- Previous button -->
					<a th:if="${currentPage > 0}"
					   th:href="@{/product(page=${currentPage - 1}, category=${category}, sort=${sort}, search=${search})}"
					   class="flex-c-m how-pagination1 trans-04 m-all-7">
						<i class="fa fa-angle-left"></i>
					</a>

					<!-- Page numbers -->
					<span th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
						<a th:if="${i == currentPage}"
						   class="flex-c-m how-pagination1 trans-04 m-all-7 active-pagination1"
						   th:text="${i + 1}">
							1
						</a>
						<a th:unless="${i == currentPage}"
						   th:href="@{/product(page=${i}, category=${category}, sort=${sort}, search=${search})}"
						   class="flex-c-m how-pagination1 trans-04 m-all-7"
						   th:text="${i + 1}">
							1
						</a>
					</span>

					<!-- Next button -->
					<a th:if="${currentPage < totalPages - 1}"
					   th:href="@{/product(page=${currentPage + 1}, category=${category}, sort=${sort}, search=${search})}"
					   class="flex-c-m how-pagination1 trans-04 m-all-7">
						<i class="fa fa-angle-right"></i>
					</a>
				</div>
			</div>
		</div>
	</div>


	<!-- Modal Quick View -->
	<div class="wrap-modal1 js-modal1 p-t-60 p-b-20">
		<div class="overlay-modal1 js-hide-modal1"></div>

		<div class="container">
			<div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
				<button class="how-pos3 hov3 trans-04 js-hide-modal1">
					<img src="/images/icons/icon-close.png" alt="CLOSE">
				</button>

				<div class="quick-view-content">
					<!-- Content will be loaded via AJAX -->
					<div class="text-center p-t-50 p-b-50">
						<div class="loader05"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<div th:replace="~{fragments/footer :: footer}"></div>

	<!-- Back to top -->
	<div th:replace="~{fragments/footer :: back-to-top}"></div>

	<!-- Scripts -->
	<div th:replace="~{fragments/header :: scripts}"></div>

	<!-- Custom CSS for better thumbnail display -->
	<style>
		/* Improve thumbnail gallery display */
		.wrap-slick3-dots {
			overflow-y: auto;
			max-height: 500px;
			padding-right: 10px;
		}

		.wrap-slick3-dots::-webkit-scrollbar {
			width: 6px;
		}

		.wrap-slick3-dots::-webkit-scrollbar-track {
			background: #f1f1f1;
			border-radius: 10px;
		}

		.wrap-slick3-dots::-webkit-scrollbar-thumb {
			background: #888;
			border-radius: 10px;
		}

		.wrap-slick3-dots::-webkit-scrollbar-thumb:hover {
			background: #555;
		}

		.slick3-dots li {
			margin-bottom: 15px !important;
			border-radius: 4px;
			overflow: hidden;
		}

		.slick3-dots li img {
			display: block;
			transition: transform 0.3s ease;
		}

		.slick3-dots li:hover img {
			transform: scale(1.05);
		}

		.slick3-dot-overlay {
			border-radius: 4px;
		}

		/* Better spacing in modal */
		.js-modal1 .wrap-slick3 {
			margin-bottom: 20px;
		}
	</style>

	<!-- Isotope for filtering (kept for animation effects) -->
	<script src="vendor/isotope/isotope.pkgd.min.js"></script>
	<script>
		$(document).ready(function(){
			var $grid = $('.isotope-grid').isotope({
				itemSelector: '.isotope-item',
				layoutMode: 'fitRows'
			});

			// Quick View functionality
			$('.js-show-modal1').on('click', function(e){
				e.preventDefault();
				var productId = $(this).data('product-id');

				// Show modal
				$('.js-modal1').addClass('show-modal1');

				// Load product details via AJAX
				$.ajax({
					url: '/product/quick-view/' + productId,
					method: 'GET',
					success: function(data) {
						$('.quick-view-content').html(data);

						// Re-initialize slick carousel
						if($('.slick3').length > 0) {
							$('.slick3').slick('unslick');
						}

						$('.slick3').slick({
							slidesToShow: 1,
							slidesToScroll: 1,
							fade: true,
							infinite: true,
							autoplay: false,
							autoplaySpeed: 6000,
							arrows: true,
							appendArrows: $('.wrap-slick3-arrows'),
							prevArrow:'<button class="arrow-slick3 prev-slick3"><i class="fa fa-angle-left" aria-hidden="true"></i></button>',
							nextArrow:'<button class="arrow-slick3 next-slick3"><i class="fa fa-angle-right" aria-hidden="true"></i></button>',
							dots: true,
							appendDots: $('.wrap-slick3-dots'),
							dotsClass:'slick3-dots',
							customPaging: function(slick, index) {
								var portrait = $(slick.$slides[index]).data('thumb');
								return '<img src=" ' + portrait + ' "/><div class="slick3-dot-overlay"></div>';
							},
						});

						// Re-initialize select2
						$(".js-select2").each(function(){
							$(this).select2({
								minimumResultsForSearch: 20,
								dropdownParent: $(this).next('.dropDownSelect2')
							});
						});

						// Re-initialize magnific popup
						$('.gallery-lb').magnificPopup({
							delegate: 'a',
							type: 'image',
							gallery: {
								enabled:true
							},
							mainClass: 'mfp-fade'
						});

						// Re-initialize number input
						$('.btn-num-product-down').on('click', function(){
							var numProduct = Number($(this).next().val());
							if(numProduct > 0) $(this).next().val(numProduct - 1);
						});

						$('.btn-num-product-up').on('click', function(){
							var numProduct = Number($(this).prev().val());
							$(this).prev().val(numProduct + 1);
						});
					},
					error: function() {
						$('.quick-view-content').html('<div class="text-center p-t-50 p-b-50"><p class="stext-102 cl6">Error loading product details. Please try again.</p></div>');
					}
				});
			});
		});
	</script>

</body>
</html>
